# NetPrime GitIgnore

# Node modules & logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Environment Config & Private Secrets
.env
firebase-service-account.json
*service-account*.json

# Large Video Assets
*.mp4
*.mkv
*.avi
*.mov

# Sensitive/Personal Payment Details
assets/payment_qr.png
public/assets/payment_qr.png

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Editor / IDE configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local Netlify folder
.netlify
